@model WebApplication_Discoteca.Models.ViewModels.ViniloViewModel

@{
    ViewData["Title"] = "Edir datos del vinilo";
}

<h2 class="mx-5">Editar datos del vinilo</h2>

<!--<h4>ViniloViewModel</h4>-->
<hr />
<div class="row mx-3">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo_disco" class="control-label"></label>
                <input asp-for="Titulo_disco" class="form-control" />
                <span asp-validation-for="Titulo_disco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_artista" class="control-label"></label>
                <input asp-for="Nombre_artista" class="form-control" />
                <span asp-validation-for="Nombre_artista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canciones" class="control-label"></label>
                <textarea rows="20" cols="20" asp-for="Canciones" class="form-control"></textarea>
                <span asp-validation-for="Canciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2 pt-1"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="mx-4" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
